<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toy Robot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/index.css" media="screen" />
    <script type="text/javascript" src="/index.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <div class="container text-center">
      <form action="/place" method="post">
        <div>
          <label for="x" class="form-label">X</label>
          <input name="x" type="number" id="x" min="0" max="4" value="<%= @robot ? @robot.cordinate_x : 0 %>" required>
        </div>
        <div>
          <label for="y" class="form-label">Y</label>
          <input name="y" type="number" id="y" min="0" max="4" value="<%= @robot ? @robot.cordinate_y : 0 %>" required>
        </div>
        <div>
          <label for="face_to">Face</label>
          <select name="face_to" id="face_to">
            <% Robot::FACE_POSITIONS.each do |face_position| %>
            <option <%= "selected" if @robot && face_position == @robot.face_to%>><%= face_position %></option>
            <% end %>
          </select>
        </div>
        <div>
          <button class="btn btn-success">PLACE</button>
        </div>
      </form>
    </div>
    <br>
    <div class="container text-center">
      <% Board::VERTICAL_SIZE.times do |y| %>
        <div class="row">
          <% Board::HORIZONTAL_SIZE.times do |x| %>
            <div class="col">
              <% if @robot && @robot.cordinate_y == y && @robot.cordinate_x == x %>
                <span class="robot <%= @robot.face_to.downcase%>"></span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <br>
    <% if @robot %>
      <div class="container text-center">
        <form action="/move" method="post">
          <input type="hidden" name="x" value="<%= @robot.cordinate_x if @robot %>"/>
          <input type="hidden" name="y" value="<%= @robot.cordinate_y if @robot %>"/>
          <input type="hidden" name="face_to" value="<%= @robot.face_to if @robot %>"/>
          <input type="hidden" id="instruction" name="instruction">

          <button class="btn btn-info move-btn">LEFT</button>
          <button class="btn btn-info move-btn">RIGHT</button>
          <button class="btn btn-info move-btn">MOVE</button>
        </form>
      </div>
    <% end %>
  </body>
</html>
